name: PolyEngine
on: [push]

jobs:

  macos:
    runs-on: macos-10.15
    steps:

      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.1.5

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV
      - name: Install Haxe dependencies
        run: |
          haxelib install lime 7.9.0
          haxelib install openfl
          haxelib install flixel
          haxelib run lime setup flixel
          haxelib run lime setup
          haxelib install flixel-tools
          haxelib install flixel-addons
          haxelib install flixel-ui
          haxelib git flixel-studio https://github.com/Dovyski/flixel-studio.git
          haxelib install hscript
          haxelib install newgrounds
          haxelib install flixel-addons
          haxelib git systools https://github.com/polybiusproxy/systools.git
          haxelib git polymod https://github.com/larsiusprime/polymod.git funkinfixes
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib list
      - name: Build time! (macOS)
        run: |
          haxelib run lime rebuild systools mac
          haxelib run lime build mac
      - uses: actions/upload-artifact@v2
        with:
          name: PolyEngine-macOS
          path: export/release/macos/bin
          if-no-files-found: error